<div class="container" style="width: 90%;">
        <div class="row">
            <div class="col-md-6">
                <h1 class="centerThis" style="font-size: 8vh;">Eat Da Burger</h1>
            </div>
            <div class="col-md-4 centerImg">
                <img src="./burger.svg">
            </div>  
        </div>  
        <div class="row">
            <div class="col-md-6">
                <h2 style="font-size: 5vh;">Eat Deez Burgers</h2>
                    <ul>
                        {{!-- runs thru the burgers table --}}
                        {{#each burgers}}
                        {{!-- will not render burgers with a true value for devoured --}}
                        {{#unless devoured}}
                        {{!-- this expression will insert a 'partial handlebars template' --}}
                        {{> burger/deez_burgers devoured = true }}
                        {{/unless}}
                        {{/each}}
                    </ul>
            </div>
            <div class="col-md-6">
                <h2 style="font-size: 5vh;">You Ate the Burger!</h2>
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        {{> burger/devoured devoured = false }}
                        {{/if}}
                        {{/each}}
                    </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 centerForm">
                <form id='create-form'>
                    <div class="row" style="text-align: center;">
                        <label for="name">What kind of Burger?</label>
                    </div>
                    <div class="row">
                        <input type='text' name="name" id="name"></input>
                    </div>
                    <div class="row">
                        <button class="btnStyle" type="submit">Add new burger</button>
                    </div>
                </form>
            </div>
        </div>
    </div>