/* 2B2D42, 8D99AE, EDF2F4, EF233C, D90429*/
body {
    background-color: aliceblue;
}

img {
    width: 25vh;
    height: 50vh;
}
.centerThis {
    padding: 50px;
    text-align: center;
    font-size: 12vh;
    border: 1px solid red;
    
}

.centerImg {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
}