<li>
    <div class="row">
        <div class="col-md-8 bergs">
            {{burger_name}}
        </div>
        <div class="col-md-3">
            <button class="getAte getAteBtn btnStyle" data-id="{{id}}">
                Eat Meh!
            </button>
        </div>
    </div>
</li>